/*
* @Author: Administrator
* @Date:   2017-08-30 16:51:59
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-30 16:53:16
*/
.box{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background: red;
}