/*
* @Author: asus
* @Date:   2017-08-17 16:03:09
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-25 15:34:59
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑"，"宋体" sans-serif;
}
a{
	text-decoration: none;
}
body{
	background: #fff;
}